<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Top</title>
	</head>
	<body>
		<a href="/new"><button type="button">新規投稿</button></a>

		<form action="/" method="get" th:object="${ period }">
			<input type="date" name="start" th:value="*{ start }">
			~
			<input type="date" name="end" th:value="*{ end }">

			<input type="submit" value="絞り込み">
		</form>

		<table border="1">
			<tr>
				<th>ID</th>
				<th>内容</th>
			</tr>

			<tr th:each="report : ${ reports }">
				<td>[[${ report.id }]]</td>
				<td>[[${ report.content }]]</td>
				<td>
					<a th:href="@{/update/{id} (id = ${ report.id })}"><button type="button">編集</button></a>
				</td>
				<td>
					<form th:action="@{/delete/{id} (id = ${ report.id })}" th:method="delete">
						<input type="submit" value="削除">
					</form>
				</td>
				<td>
					<form th:action="@{/addComment/{reportId} (reportId = ${ report.id })}" method="post" th:object="${ newComment }">
						<input type="text" name="content" th:value="*{ content }">
						<input type="submit" value="コメント">
					</form>
				</td>
				<td th:each="comment : ${ comments }" th:if="${ comment.reportId } == ${ report.id }">
					<form th:action="@{/updateComment/{id} (id = ${ comment.id })}" th:method="put" th:object="${ comment }">
						<input type="text" name="content" th:value="*{ content }">
						<input type="hidden" name="reportId" th:value="*{ reportId }">
						<input type="submit" value="↺">
					</form>
					<form th:action="@{/deleteComment/{id} (id = ${ comment.id })}" th:method="delete">
						<input type="submit" value="×">
					</form>
				</td>
			</tr>
		</table>
	</body>
</html>