<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Update</title>
	</head>
	<body>
		<form th:action="@{/update/{id} (id = *{ id })}" th:method="put" th:object="${ report }">
			<table border="1">
				<tbody>
					<tr>
						<th>ID</th>
						<td th:text="*{ id }"></td>
					</tr>

					<tr>
						<td>投稿内容</td>
						<td><input type="text" name="content" th:value="*{ content }" size="20" maxlength="200"></td>
					</tr>
				</tbody>
			</table>

			<input type="submit" value="更新">
		</form>

		<a href="/"><button type="button">戻る</button></a>
	</body>
</html>